{erl_opts, [debug_info]}.
{deps, [thoas]}.

{shell, [
  {erl_opts, [warnings_as_errors]},
  %% {config, "config/sys.config"},
  {apps, [cozo]}
]}.

{pre_hooks, [{compile, "make deps"}, {clean, "make clean"}]}.

{artifacts, ["priv/libcozo_c.so", "priv/cozo_nif.so"]}.

{project_plugins, [
    rebar3_proper,
    rebar3_ex_doc,
    rebar3_hex
]}.

{hex, [
  {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
  {name, "Cozo"},
  {source_url, <<"https://github.com/niamtokik/cozo">>},
  {extras, [
    <<"README.md">>,
    <<"doc_extras/cheatsheet.cheatmd">>,
    <<"LICENSE.md">>
    %% <<"CHANGELOG.md">>,
    %% <<"CODE_OF_CONDUCT.md">>
  ]},
  {main, <<"README.md">>},
  %% {logo, "assets/logo.png"},
  {extra_section, "Pages"},
  {api_reference, true},
  {groups_for_extras, #{
      <<"Introduction">> => [],
      <<"Tutorials">> => [],
      <<"How-to Guides">> => [],
      <<"Deployment">> => [],
      <<"Technical Reference">> => []
  }},
  {groups_for_modules, []}
]}.