{erl_opts, [debug_info,deterministic,verbose,compressed]}.
{deps, [thoas]}.

{shell, [
  {erl_opts, [warnings_as_errors]},
  {apps, [cozo]}
]}.

{pre_hooks, [{compile, "make deps"}
            ,{clean, "make clean"}
            ]}.

{artifacts, ["priv/libcozo_c.so", "priv/cozo_nif.so"]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{eunit_opts, [verbose]}.

{dialyzer, [{warnings, [no_return, no_match]}]}.

{plugins, [rebar3_hex]}.

{project_plugins, [
    rebar3_proper,
    rebar3_ex_doc,
    rebar3_hex
]}.

{hex, [
  {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
  {name, "Cozo"},
  {source_url, <<"https://github.com/niamtokik/cozo">>},
  {extras, [
    <<"README.md">>,
    <<"doc_extras/cheatsheet.md">>,
    <<"LICENSE.md">>
  ]},
  {main, <<"README.md">>},
  %% {logo, "assets/logo.png"},
  {extra_section, "Pages"},
  {api_reference, true},
  {groups_for_extras, #{
      <<"Introduction">> => [],
      <<"Tutorials">> => [],
      <<"How-to Guides">> => [],
      <<"Deployment">> => [],
      <<"Technical Reference">> => []
  }},
  {groups_for_modules, []}
]}.